/* all pages */

footer {
  margin: 20px;
  font-size: 12px;
} 


.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.voorraadknop {
  background-color: rgb(206, 214, 224);
  position: relative;
  font-family: monospace;
  font-size: 16px;
  top: 860px;
  left: 825px;
  border: none;
}

.shop-button {
  font-size: 12x;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}



.logohome {
  margin-top: 10px;
  margin-left: 700px;
  display: block;
  border-radius: 25px;
}

.png {
  margin-top: -80px;
  margin-left: 1200px;
  /* display: block; */
}

.png2 {
  margin-top: -440px;
  margin-left: 0px;
  /* display: block; */
}


.container {
  text-align: center;
}

.container2 {
  text-align: center;
  color: white;
}

.col-sm{
  color: black;
}

.product_title {
  color: white;
}


.productscard {
   margin: auto; 
}

.card {
  width:200px; 
  height: 700px; 
  margin-bottom: 20px

}

.card-header {
  height: 6em;
}

.card-text {
  min-height: 14em
}

.buttonhome {
  background-color: rgb(233, 227, 206); /* Green */
  font-family: monospace;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.6s;
  text-decoration: none;
  margin-left: 685px; 
  margin-top: 300px;
}

.buttonhome:hover {
  background-color: rgb(0, 0, 0); /* Green */
  color: white;
  text-decoration: none;
}

/* index page */

.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.product img {
  margin: auto;
  margin-top: 20px;
}

.product > .card-header {
  height:2em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px
}

.product-propertie {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
  text-align: center;
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}
/*
body {
  background-image: url(images/Achtergrond.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
/* background-color: rgb(206, 214, 224); */
}
*/
.navbar-brand {
  font-family: caveat;
  text-align: center;
}
.nav-link {
  font-family: caveat;
}

.product_adviesprijs {
  font-size: 12px;
  text-decoration: line-through;
  color: red; 
}

.propert-adviesprijs {
  font-size: 12px;
  color: red; 
  text-align: center; 
}

.propert-price {
  color: green;
}

.product_price {
  color: green;
  font-weight: bold;  
}


.propert-voorraad {
  font-weight: bold;
}

.propert-soort {
  font-family: sans-serif ;
}

.product_productgroepen {
  font-family: lobster;
}
